.main-content-container {
    margin-top: 73px;
    padding: 0 16px;
}

.dialog-content-container {
    margin-top: 23px;
}

.dialog-title-container {
    color: #333;
    font-size: 24px;
}

.seal-result-success {
    background-image: url('../../public/images/done.png');
}

.seal-result-redo {
    background-image: url('../../public/images/redo.png');
}

.seal-result-fail {
    background-image: url('../../public/images/fail.png');
}

.tree-widget-folder {
    position: relative;
    top: 4px;
    display: inline-block;
    visibility: hidden;
    float: right;
}

.tree-widget-item {
    position: relative;
    top: 4px;
    float: right;
    display: inline-block;
    visibility: hidden;
}

.dialog-bottom-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
}

.dialog-modal-dialog{
    display: none;
    position: fixed;
    top: 200px;
}
nav .bh-form-label{
	width: 80px
}

.statement-bigText{
	font-size: 24px;
	line-height: 24px;
	padding: 8px;
}
.statement-image{
	margin: 24px;
	text-align: center;
}
#share .iconfont{
	font-size: 24px;
}

.statement-select {
	width: 120px;
	padding-left: 24px;
	height: 24px;
	line-height: 24px;
}

.smart_card-display-table {
	display: table;
}

.smart_card-display-cell {
	display: table-cell;
	vertical-align: middle;
}